body {
  font-family: "Open Sans", sans-serif;
  font-variation-settings: "wdth" 100;
}
.text-primary {
  color: #fd6e0a;
}
.primary-btn {
  background-color: #fd6e0a;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

/* main css */
.header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 636px;
}
.navbar {
  display: flex;
  padding: 0px 100px;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  gap: 20px;
}
.nav ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
}

.website-logo {
  font-size: xx-large;
}
.nav-btn {
  font-size: smaller;
  font-size: 15px;
  padding: 5px 10px;
}
/* hero section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 0px 100px;
}
.hero-section img {
  height: 500px;
  background-position: right;
  background-position: bottom;
}
.hero-content {
  max-width: 500px;
}
.hero-congress {
  color: #474747;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 0px;
}
.hero-title {
  color: #181818;
  font-size: 65px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0px;
}
.text-para p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
